.#regmodel.py
.DS_Store
.git/
.gitignore
.gitignore_copy
.ipynb_checkpoints
.regmodel.py.~undo-tree~
!LICENSE
!README.md
aaa
group1-reg.png
group1-report.txt
group1-residuals.png
group2-report.txt
group2_x-te.csv
group2_x-tr.csv
!input/
lab3-report.pages
lab3-report.pdf
!plots/
readme
regmodel-kopia.py
!regmodel.py
!regression-model.ipynb
report.txt
!requirements.txt
venv/
